# postfix mysql map -> pmwh3 consolidated mail tables
#
# wired in main.cf as (1st map of smtpd_sender_login_maps):
#   smtpd_sender_login_maps =
#       proxy:mysql:/etc/postfix/sql/mysql-virtual_alias_maps.cf
#       proxy:mysql:/etc/postfix/sql/mysql-smtp_sender.cf
# a mailbox owner may send as their own address (non-empty result =
# this login may use the sender address)
#
# Variables: @DB_HOST@ @DB_NAME@ @DB_USER@ @DB_PASS@
user = @DB_USER@
password = @DB_PASS@
dbname = @DB_NAME@
hosts = @DB_HOST@
query = SELECT email FROM pmwh3_mail_accounts WHERE email='%s' AND active = 'Y'
